.logo_header{
    display: flex;
    align-items: center;
    left: 0%;
    margin: 0;
}
.logo_header{
    margin: 0 10px;
}
.logo_header img {
    height: 40px;
}
.header_logo-text{
    font-size: 2rem;
    width: 95px;
    margin-left: 10px;
    font-weight: 300;
}