/* General profile layout */
.profile-container {
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .profile-info p {
    font-size: 1.2rem;
    margin: 8px 0;
    color: #333;
  }
  
  .profile-actions {
    margin-top: 20px;
  }
  
  .profile-button {
    padding: 10px 20px;
    background-color: #a200ff;
    color: white;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .profile-button:hover {
    background-color: #8a00e6;
    transform: scale(1.05);
  }
  
  .profile-button:focus {
    outline: none;
  }
  
  .message {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  